<div class="posts board">
  <div class="post card">
    <div class="post__details card__header">
      <a class="post__author"><%= current_user.name %></a> says:
    </div>

    <%= form_for(Post.new) do |f| %>
      <div class="post__content card__content">
        <%= f.text_field(:title, class: "post__input post__title", placeholder: "the Headline") %>
        <%= f.text_area(:body, class: "post__input", placeholder: "rant a little...") %>
      </div>

      <%= f.submit(class: "post__submit button bc-brand") %>
    <% end %>
  </div>

  <% @posts.each do |post| %>
    <%= render(
          "post_card",
          post: post,
          comments: post.comments.order(created_at: :desc).limit(5)
        ) %>
  <% end %>
</div>
