<!DOCTYPE html>
<html>
  <head>
    <title>MessageBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar">
      <%= link_to("the Bored Group", root_path, class: "navbar__logo logo") %>

      <ul class="navbar__items">
        <li class="navbar__item">
          <%= link_to(root_path) do |ni| %>
            <span>Home</span>
          <% end %>
        </li>
        <li class="navbar__item">
          <%= link_to(edit_user_registration_path) do |ni| %>
            <span>Account</span>
          <% end %>
        </li>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
